In [0]:
import pandas as pd

In [0]:
res= pd.read_csv('toronto_restaurants.csv')

In [0]:
del res['Unnamed: 0']

In [27]:
res.head()

               address             business_id  ... review_count     stars
0        4917 Bathurst  -0aOudcaAyac0VJbMX-L1g  ...           15  3.133333
1    613 King Street W  -3iE3lPp18Tn2ixqIRJB_w  ...            7  4.000000
2      1240 Bay Street  -4uT6QFVaRtc2Zmxvtd9Vg  ...            4  4.750000
3      1406 Queen St W  -6sE5v4OrVGmWxdIrbs-RQ  ...           28  4.250000
4  800 Danforth Avenue  -7BCZH437U5FjmNJ26llkg  ...           69  4.347222

[5 rows x 10 columns]

In [0]:
revs= pd.read_csv('toronto_reviews.csv')

In [0]:
del revs['Unnamed: 0']

In [30]:
len(revs)

305173

In [31]:
revs.head()

              business_id  ... user_review_num
0  AakkkTuGZA2KBodKi2_u8A  ...              44
1  YvrylyuWgbP90RgMqZQVnQ  ...               2
2  y-Iw6dZflNix4BdwIyTNGA  ...               9
3  YSUcHqlKMPHHJ_cTrqtNrA  ...              13
4  TVLAvAFx0FqAkKGKHVjHpQ  ...              57

[5 rows x 18 columns]

In [0]:
revs['tot_stars_bus']= revs.stars_bus*revs.review_count

In [0]:
revs['stars_bus']= (revs.tot_stars_bus- revs.stars_revs)/(revs.review_count - 1)

In [0]:
revs['review_count']-=1

In [0]:
del revs['tot_stars_bus']

In [0]:
revs['tot_stars_user']= revs.user_stars_mean* revs.user_review_num

In [0]:
revs['user_stars_mean']= (revs.tot_stars_user - revs.stars_revs)/(revs.user_review_num - 1)

In [0]:
del revs['tot_stars_user']

In [0]:
revs.user_stars_mean.fillna(revs[revs.user_stars_mean.isna()].stars_revs.mean(), inplace=True)

In [0]:
revs.stars_bus.fillna(revs[revs.stars_bus.isna()].stars_revs.mean(), inplace=True)

In [0]:
revs.to_csv('toronto_reviews.csv')