In [0]:

import pandas as pd
import json
import sys
import time

In [56]:
!pip install surprise

Collecting surprise
  Downloading https://files.pythonhosted.org/packages/61/de/e5cba8682201fcf9c3719a6fdda95693468ed061945493dea2dd37c5618b/surprise-0.1-py2.py3-none-any.whl
Collecting scikit-surprise (from surprise)
  Downloading https://files.pythonhosted.org/packages/4d/fc/cd4210b247d1dca421c25994740cbbf03c5e980e31881f10eaddf45fdab0/scikit-surprise-1.0.6.tar.gz (3.3MB)
     |████████████████████████████████| 3.3MB 4.9MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.13.2)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.16.4)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.3.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.12.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/ec/c0/55/3a28eab06b53c220015063ebbdb81213cd3dcbb72c088251ec
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.0.6 surprise-0.1

In [0]:
import surprise

In [0]:
def bin_searcher(elem, sorted_list, asc=True):
    
    if asc!=True:
        
        sorted_list= sorted_list.reverse()
    
    l=len(sorted_list)
    
    
    upper=l
    
    mp=int(l/2)
    
    lower=0
    
    count=0
    
    while upper>lower+1 and count<100:

        count+=1
        val= sorted_list[mp]

        if elem==val:
            return mp

        elif elem>val:
            lower=mp
            mp=int((lower+upper)/2)

        if elem<val:
            upper=mp
            mp= int((lower+upper)/2)
            
            
    return -1

In [0]:
bus=pd.read_csv('businesses.csv')

In [0]:
del bus['Unnamed: 0']

In [7]:
bus.head()

                          address  ... state
0     2818 E Camino Acequia Drive  ...    AZ
1            30 Eglinton Avenue W  ...    ON
2       10110 Johnston Rd, Ste 15  ...    NC
3   15655 W Roosevelt St, Ste 237  ...    AZ
4  4209 Stuart Andrew Blvd, Ste F  ...    NC

[5 rows x 14 columns]

In [0]:
bus=bus[bus.city=='Toronto']

In [0]:
bus['categories']=bus['categories'].fillna('lol')

In [0]:
bus=bus[bus.categories.str.contains('Restaurant')]

In [16]:
bus.head()

                   address  ... state
0      1170 Queen Street W  ...    ON
1      1051 Bloor Street W  ...    ON
2       582 College Street  ...    ON
3  619 Mount Pleasant Road  ...    ON
4      1614 Queen Street E  ...    ON

[5 rows x 14 columns]

In [17]:
sum(bus.is_open)

5254

In [0]:
bus=bus[bus.is_open>0.5]

In [0]:
bus=bus.reset_index(drop=True)

In [0]:
del bus['attributes']
del bus['city']
del bus['state']

In [0]:
del bus['is_open']

In [41]:
bus.head()

                        address             business_id  ... review_count stars
3408  1218 Saint Clair Avenue W  --DaPTJW3-tB1vP-PfdTEg  ...           49   3.5
3127              4917 Bathurst  -0aOudcaAyac0VJbMX-L1g  ...           15   3.0
4023          613 King Street W  -3iE3lPp18Tn2ixqIRJB_w  ...            7   4.0
4391            1240 Bay Street  -4uT6QFVaRtc2Zmxvtd9Vg  ...            4   5.0
4420            1406 Queen St W  -6sE5v4OrVGmWxdIrbs-RQ  ...           28   4.0

[5 rows x 10 columns]

In [0]:
revs= pd.read_csv('yelper.csv')

In [0]:
del revs['Unnamed: 0']

In [26]:
revs.head()

              business_id  cool  ... useful                 user_id
0  ikCg8xy5JIg_NGPx-MSIDA     0  ...      0  dacAIZ6fTM6mqwW5uxkskg
1  eU_713ec6fTGNO4BegRaww     0  ...      0  w31MKYsNFMrjhWxxAb5wIw
2  3fw2X5bZYeW9xCz_zGhOHg     5  ...      5  jlu4CztcSxrKx56ba1a5AQ
3  zvO-PJCpNk4fgAVUnExYAA     1  ...      3  d6xvYpyzcfbF_AZ8vMB7QA
4  8mIrX_LrOnAqWsB5JrOojQ     0  ...      0  FIk4lQQu1eTe2EpzQ4xhBA

[5 rows x 9 columns]

In [0]:
bus=bus.sort_values(by='business_id', ascending=True)

In [0]:
b_list= list(bus.business_id)

In [0]:
rev_ids= list(revs.business_id)

In [0]:
id_nums=[]
for r in rev_ids:
  id_nums.append(bin_searcher(r, b_list))

In [34]:
len(id_nums)- len(revs)

0

In [0]:
revs['biz_num']=id_nums

In [0]:
revs=revs[revs.biz_num>=0]

In [37]:
len(revs)

305173

In [44]:
dict(bus.iloc[0])

{'address': '1218 Saint Clair Avenue W',
 'business_id': '--DaPTJW3-tB1vP-PfdTEg',
 'categories': 'Restaurants, Breakfast & Brunch',
 'hours': "{'Monday': '7:0-15:0', 'Tuesday': '7:0-15:0', 'Wednesday': '7:0-15:0', 'Thursday': '7:0-15:0', 'Friday': '7:0-16:0', 'Saturday': '7:0-16:0', 'Sunday': '7:0-16:0'}",
 'latitude': 43.67780689999999,
 'longitude': -79.44467420000001,
 'name': 'Sunnyside Grill',
 'postal_code': 'M6E',
 'review_count': 49,
 'stars': 3.5}

In [0]:
bus_dicts={}
for i in range(len(bus)):
  b= dict(bus.iloc[i])
  bid= b['business_id']
  del b['business_id']
  bus_dicts[bid]=b

In [0]:
revs=revs.merge(bus,how='left', on='business_id', suffixes=('_revs', '_bus'))

In [51]:
revs.head()

              business_id  cool  ... review_count  stars_bus
0  AakkkTuGZA2KBodKi2_u8A     0  ...           55        3.5
1  YvrylyuWgbP90RgMqZQVnQ     0  ...           71        4.0
2  y-Iw6dZflNix4BdwIyTNGA     0  ...          235        4.0
3  YSUcHqlKMPHHJ_cTrqtNrA     0  ...           77        3.0
4  TVLAvAFx0FqAkKGKHVjHpQ     1  ...           40        3.0

[5 rows x 19 columns]

In [0]:
revs.to_csv('toronto_reviews.csv')

In [54]:
revs.describe()

                cool           elem  ...   review_count      stars_bus
count  305173.000000  305173.000000  ...  305173.000000  305173.000000
mean        0.472843   30245.505143  ...     221.967284       3.649160
std         1.967094   16963.219643  ...     279.705114       0.550063
min         0.000000      37.000000  ...       3.000000       1.000000
25%         0.000000   15489.000000  ...      61.000000       3.500000
50%         0.000000   31032.000000  ...     134.000000       3.500000
75%         0.000000   44831.000000  ...     273.000000       4.000000
max       177.000000   59372.000000  ...    2121.000000       5.000000

[8 rows x 10 columns]

In [58]:
bus.head()

                        address             business_id  ... review_count stars
3408  1218 Saint Clair Avenue W  --DaPTJW3-tB1vP-PfdTEg  ...           49   3.5
3127              4917 Bathurst  -0aOudcaAyac0VJbMX-L1g  ...           15   3.0
4023          613 King Street W  -3iE3lPp18Tn2ixqIRJB_w  ...            7   4.0
4391            1240 Bay Street  -4uT6QFVaRtc2Zmxvtd9Vg  ...            4   5.0
4420            1406 Queen St W  -6sE5v4OrVGmWxdIrbs-RQ  ...           28   4.0

[5 rows x 10 columns]

In [0]:
bus.to_csv('toronto_restaurants.csv')

In [0]:
b_means=revs.groupby('business_id').mean()

In [62]:
b_means.head()

                            cool   elem  ...  review_count  stars_bus
business_id                              ...
-0aOudcaAyac0VJbMX-L1g  0.000000   37.0  ...          15.0        3.0
-3iE3lPp18Tn2ixqIRJB_w  9.000000   78.0  ...           7.0        4.0
-4uT6QFVaRtc2Zmxvtd9Vg  1.000000   92.0  ...           4.0        5.0
-6sE5v4OrVGmWxdIrbs-RQ  0.785714  108.0  ...          28.0        4.0
-7BCZH437U5FjmNJ26llkg  0.375000  113.0  ...          69.0        4.5

[5 rows x 10 columns]

In [0]:
b_means.reset_index(inplace=True)

In [0]:
b_means=b_means[['business_id', 'stars_revs']]

In [68]:
b_means

                 business_id  stars_revs
0     -0aOudcaAyac0VJbMX-L1g    3.133333
1     -3iE3lPp18Tn2ixqIRJB_w    4.000000
2     -4uT6QFVaRtc2Zmxvtd9Vg    4.750000
3     -6sE5v4OrVGmWxdIrbs-RQ    4.250000
4     -7BCZH437U5FjmNJ26llkg    4.347222
5     -AVRReI-nfsa0lKlehEojw    3.235294
6     -BbnAc9YEO6pjvJGEtFbVQ    4.211155
7     -CLTZ0cO-ooKDDmXHFoGMg    3.821429
8     -ClafaRWkSRTfieIzO4r3Q    3.314815
9     -DOE4Qs8IMfgkvshYKfC7w    3.117647
10    -EFDz-s9QUWJbFIp16O_3g    2.000000
11    -EX_qttyhm5YNb8NWtAcCQ    4.027027
12    -Ggr1M22MxTbP2J8L7oHqw    2.857143
13    -H5Qoimm5siEJ4RSU4FyHQ    2.333333
14    -ICGmF2qUVKdvOehVNgPbg    4.079310
15    -IOuy7CKwWN54IEzESVOBQ    1.000000
16    -IP0Y1XLcnxb6yfMxPcLfQ    2.733333
17    -IXNFjtECsn8fqF047tYFw    3.237288
18    -IlQvDjwqOnA0iqlbmWX-Q    4.750000
19    -Ipm_8YXj9UoNNHagCvsNg    3.900498
20    -J6FVdY9pSgAdFmmalO-pQ    3.964664
21    -M9S1wlZTvv6T9EOo5X2Yw    2.753846
22    -OxDX2fPQLYi6ChW2Z6xxQ    3.734899
23    -PKUAor_Nz_IaNjP_jIwyA    3.341085
24    -PL-4fFYPYrOjnNd0lO4Lg    4.060606
25    -PO_5qu0CQIKqsPjLqSYMg    4.000000
26    -Q5b2LGivWP_ZBwSovGCRQ    4.144068
27    -TjzQsimpriXVYaH3HdtQA    4.222930
28    -Tpo5r3kF_z4iilx8JXhvA    3.777108
29    -UPP0Q_kZsuQ2zZ1k7lbyQ    3.073171
...                      ...         ...
5223  zd6mwM53f1E5OG4sPzP74Q    4.000000
5224  zdxOrKy1GGyQcchr0qZvnQ    3.964286
5225  zeJh7AoPgwtNNQSfl4eneQ    5.000000
5226  zeOJYl5UW4D5u3Vcj6QAoA    4.343284
5227  zeiaHxtK2fTUz_jlPdIKPQ    4.000000
5228  zfQ855VX3SMA_54oVSN5Cw    4.356495
5229  zfg_cw3tNVkd0xyU3eMGpA    4.000000
5230  zgQHtqX0gqMw1nlBZl2VnQ    3.164516
5231  zkDxv3JDb6Chg72gODDGJQ    3.500000
5232  zlsiSoZaNtQeMkdKl5K_hg    3.886792
5233  zmJp4ocFlteqlLVvTYieDQ    4.520000
5234  zmfa8RNxqSuOJ9Nx-CMs_Q    4.225000
5235  znZjTq9MhVesMpnReKSQfg    2.666667
5236  znc5ZpKCPANquABEm7SJuA    3.529412
5237  znu3EN7tDFIXmiTwKvX1Ow    4.045455
5238  zo_z6lMRcwHqQF_Z1VZLpg    2.738372
5239  zrYpLdnGKA_EmOhgRCy_vg    3.841176
5240  zsgvTFimYf4stONAJOyePw    3.000000
5241  zsyQEMYhIDcdGLbf-kYlRw    2.636364
5242  ztzjD1Zs5tfMZTYKXkmL9Q    3.866667
5243  zu5dqKqPjJCycS5k-92Alg    3.133333
5244  zuCgnSkJa3aFB5s1-8ew4g    3.789474
5245  zvOy4znhODeXleiublTsRg    4.000000
5246  zvezLicNkf8tTqZyYhP83w    2.843137
5247  zwFRdFxgCV6bF6DAajpCtA    2.666667
5248  zwlgRmJxWkeWUMyLcdJjAg    4.000000
5249  zy5UZvaG4iOLSbxuophtTQ    3.411765
5250  zy_NHTqtfSrfTGGPoqy4Mw    3.280000
5251  zyw5DjrRks7a8OhmBsgCQQ    3.083333
5252  zzH3E5DA8eMzFwv2k5izyw    4.166667

[5253 rows x 2 columns]

In [0]:
bus= bus.merge(b_means, on='business_id')

In [0]:
bus['stars']=bus.stars_revs

In [0]:
del bus['stars_revs']

In [0]:
stars_only=bus[['business_id', 'stars']]

In [0]:
revs=revs.merge(stars_only,how='left', on='business_id', suffixes=('_revs', '_bus'))

In [77]:
revs.head()

              business_id  cool  ... stars_bus     stars
0  AakkkTuGZA2KBodKi2_u8A     0  ...       3.5  3.303571
1  YvrylyuWgbP90RgMqZQVnQ     0  ...       4.0  3.957746
2  y-Iw6dZflNix4BdwIyTNGA     0  ...       4.0  4.082988
3  YSUcHqlKMPHHJ_cTrqtNrA     0  ...       3.0  3.089744
4  TVLAvAFx0FqAkKGKHVjHpQ     1  ...       3.0  2.975610

[5 rows x 20 columns]

In [0]:
revs['stars_bus']=revs.stars

In [0]:
del revs['stars']

In [0]:
revs.to_csv('toronto_reviews.csv')

In [0]:
bus.to_csv('toronto_restaurants.csv')