In [0]:
import pandas as pd

In [0]:
rests= pd.read_csv('toronto_restaurants.csv')

In [0]:
del rests['Unnamed: 0']

In [0]:
revs= pd.read_csv('toronto_reviews.csv')

In [0]:
del revs['Unnamed: 0']

In [0]:
user_counts= revs.groupby('user_id').count()[['stars_revs']]

In [0]:
user_revs= revs.groupby('user_id').mean()[['stars_revs']]

In [0]:
user_revs['count']=user_counts.stars_revs

In [11]:
user_revs.head()

                        stars_revs  count
user_id
--7gjElmOrthETJ8XqzMBw    3.000000      2
--BumyUHiO_7YsHurb9Hkw    3.894737     38
--C93xIlmjtgQfSOIpcQSA    3.000000      2
--DKDJlRHfsvufdGSk_Sdw    1.000000      1
--EVSb3jbKVL3WJ5NUCuCA    5.000000      1

In [12]:
len(user_revs)

79775

In [0]:
user_revs.columns=['user_stars_mean', 'user_review_num']

In [0]:
user_revs.reset_index(inplace=True)

In [0]:
revs=revs.merge(user_revs, how='left')

In [0]:
del revs['funny']
del revs['cool']
del revs['useful']

In [0]:
revs.to_csv('toronto_reviews.csv')